
*{
  margin: 0;
  padding: 0;
}
.sub-container{
  background-color: white;
  width: 35%;
  border-radius: 2%;
  padding: 15px 20px;
  border: 1px solid #DFE0EB;

}
.signup{
  height: 90%;
}
.login{
  height: 65%;

}
.sub-container h1, h4{
  margin-top: 1em;
  text-align: center;
}
.logo-container{
  width: 30%;
  color: white;
  margin-right: 15em;
}
.container1{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.error{
  text-align: center;
  color: red;
  font-size: 12px;
  margin-left: 12px
}
.inputs-container{
  margin-top: 1em;
  margin-left: 2em;
  padding-right: 3em;

}
/* input, select{
  display: block;
  width: 90%;
  padding: 14px 14px;
  margin-top: 1em;
  border: 1px solid #DFE0EB;
  background-color: #fafbfc;
  border-radius: 5px; */

/* } */
.row input, .row select{
  display: block;
  width: 85%;
  padding: 8px 14px;
  margin-top: 1em;
  border: 1px solid #DFE0EB;
  background-color: #fafbfc;
  border-radius: 5px;
}
.button{
  border: none;
  background-color: dodgerblue;
  padding: 16px 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  margin-top: 2em;
}
a {
  text-decoration: none;
  color: dodgerblue;
}
.label1{
  display: block;
  width: 0px;

}
.input1{
  margin-top: 2em;
}
.row label{
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #adadb3  ;
  margin-left: 1em;
  
  
}
.row{
  /* margin-top: 0.3em; */
  margin-right: 1em;

}
@media (max-width: 768px) {
  .sub-container.login {
    width: 100%;
    max-width: 400px;
  }
  .logo-container {
    width: 50%;
    margin-right: 0;
  }

  .container1 {
    align-items: flex-start;
  }
}
@media (max-width: 480px) {
  .sub-container {
    width: 100%;
    max-width: 400px;
    margin-top: 6em;
    border: none;
    margin-left: -1.5em;
  }

  .logo-container {
    width: 5%;
    margin-right: 0;
    margin-left: 1em;
  }
  .logo-container img{
    width: 160px;
  }

  .container1 {
    align-items: flex-start;
  }
}
/* SIDEBAR */

.flex-container{
  display: flex;
}
.sidebar{
  background-color: #fafbfc;
  border: 1px solid #DFE0EB;
  height: 100vh;
  width: 15%;
  padding: 10px;
  position: fixed;
}
.sidebar-items{
  margin-top: 4em;
  margin-left: 1em;
  margin-right: 1em;
}
.logout-btn{
  margin-top: 15em;
  font-size: 14px;
}
.sub{
  padding: 2em;
  margin-left: 12em;
}
.item1{
  padding-left: 15px;
  height: 3.5em;
  padding-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  font-size: 13px;
  
}
.activ{
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  font-weight:400;
}
.activ .icon{
  color: white;
}
.create-btn{
  display: flex;
}
.car{
  margin-left: 60em;
}

.popup{
  background-color: #fafbfc;
  position: fixed;
  height: 58em;
  width: 50em;
  border-radius: 5px;
  border: 1px solid #DFE0EB;
  margin-top: 2em;
  margin-left: 3em;
  padding-left: 4em;
  padding-top: 2em;
  top: 1em;
  left: 23%;
  transform: translate(13%, 1%);
  
}
.flex-display{
  display: flex;
}
.flex-display label{
  margin-top: 0em;
}
.icon{
  margin-right: 1em;
  
}
.close-btn{
  margin-left: 10em;
  margin-top: 0.4em;
  font-size: 15px;
  cursor: pointer;
}
.create{
  width: 70%;
}
.create input{
  width: 40em;
}
.action{
  display: flex;
}
.action div{
  padding-left: 1em;
  width: 100%;
}

/* table */

table {
  border: 1px solid #adadb3;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 75em;
  table-layout: fixed;
  margin-left: 0; 
  margin-top: 50; 
  table-layout: fixed;
  font-size: 14px;
}

table tr {
  background-color: #fafbfc;
  border: 1px solid #DFE0EB;
  /* padding: 3em; */
}
table th,
table td {
  padding: .55em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: dodgerblue;
}

.menu-toggle{
  display: none;
}


/* Responsive Styles */

@media (max-width: 768px) {
  .sub{
    width: 80%;
  }
  .sub h2{
    margin-left: 3em;
  }
  .table-responsive{
    width: 100%;
  }
  tbody{
    width: 800%;
  }
  table {
    border: 0;
    width: 200;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    width: 42%;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  
  /* table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  } */
  
  table td:last-child {
    border-bottom: 0;
  }
/* Responsive design */

}
@media (max-width: 860px) {
  .sidebar {
      width: 8%;
      padding: 0px
  }
  .sidebar .opened{
    width: 20%;
  }
  .sidebar-items {
    margin-top: 7em;
  }
  .user-info p {
    display: none;
  }

  .logo img {
      display: none;
  }

  .item1 span {
      display: none;
  }
  .item1 {
    width: 100%;
    padding-left: 0.3em;
    height: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .sub{
    margin-left: 4em;
  }
  .table-responsive {
    overflow: hidden;
  }
  .icon {
    padding-left: 5px;
    
  }
  .logo-container{
    display: none;
  }
  .signup{
    width: 80%;
    height: 80%;
  }
  .signup, .login{
    margin-top: 5em;
  }
  .menu-toggle {
    display: block;
    position: fixed;
    top: 20px;
    left: 23px;
    z-index: 999;
    cursor: pointer;
  }

}
@media (max-width: 480px) {
  .sidebar {
    /* width: 100%;  */
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    cursor: pointer;
  }

  .sidebar .logo .menu-toggle {
    display: none;
  }

  .sidebar .user-info {
    margin-top: 1em;
  }

  .sidebar .sidebar-items {
    margin-top: 2em;
  }

  .sidebar .sidebar-items .item {
    padding-left: 1em;
  }

  .sidebar .logout-btn {
    margin-top: 2em;
  }
  .sub-container {
    border: none;
  }
}